.scan-wechat-login {
    top: 321px;
    left: 1076px
}

.scan-wechat-login .scan-bg {
    top: -4px;
    left: -3px
}

.scan-wechat-login .scan-des-icon {
    left: -23px;
    top: -43px
}

.scan-wechat-login .scan-container {
    left: 2px;
    top: 2px;
    width: 144px;
    height: 144px;
    overflow: hidden
}

.scan-wechat-login .scan-container iframe {
    width: 144px;
    height: 144px
}

.scan-wechat-login .scan-opera {
    left: 2px;
    top: 2px;
    width: 144px;
    height: 144px;
    cursor: pointer
}

.scan-wechat-login .scan-title {
    font-size: 12px;
    color: #a19b8b;
    left: 10px;
    top: -45px;
    width: 200px
}

.scan-wechat-login .scan-refresh {
    top: 131px;
    left: 131px
}

.scan-wechat-login .scan-refresh .bg,
.scan-wechat-login .scan-refresh .skin {
    width: 31px;
    height: 31px
}

.scan-wechat-login .scan-refresh .bg {
    background-position: -425px -165px
}

.scan-wechat-login .scan-refresh .skin {
    background-position: -465px -165px
}

.scan-wechat-login .scan-refresh:active {
    background-position-x: -505px
}

.scan-wechat-login .scan-code-close {
    width: 48px;
    height: 13px;
    top: 267px;
    left: 51px;
    display: block;
    cursor: pointer;
    background-position: -90px -400px
}

.scan-wechat-login .scan-code-close:hover {
    background-position-x: -150px
}

.scan-wechat-login .scan-code-close:active {
    background-position-x: -210px
}

.scan-wechat-login .agree-remember {
    top: 190px;
    left: 0px
}

.scan-wechat-login .agree-text {
    top: 215px;
    left: 0x;
    width: 200px;
    color: #a19b8b
}

.scan-wechat-login .agree-text a {
    position: static;
    color: #a19b8b;
    border-bottom: 1px solid #a19b8b
}

.scan-wechat-login .license-login {
    top: 190px;
    left: 29px
}

.scan-wechat-login .scan-detail:hover {
    background-position-y: -495px
}

.scan-wechat-login .scan-detail:active {
    background-position-y: -535px
}

.login-scan-qrcode-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin: -64px 0 0 -64px;
    overflow: hidden
}

.login-scan-qrcode-loading:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    background-image: url(/launcher/assets/scanLoading.webp);
    background-size: 100% auto;
    animation: loading-frames 1.2s 0s infinite forwards;
    animation-timing-function: steps(65, end);
    margin-left: -16px;
    margin-top: -16px
}

html,
body,
#app {
    width: 100% !important;
    height: 100% !important
}