@font-face {
    font-family: MSYH;
    src: url("../font/MSYH.TTF");
}

@font-face {
    font-family: MSYHBD;
    src: url("../font/MSYHBD.TTF");
}

* {
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: MSYH;
}

body {
    width: 1280px;
    height: 656px;
}

#serverIcon {
    top: 88px;
    left: 890px;
}

#serverIconBg {
    top: 13px;
    left: 19px;
}

#serverIconContainer {
    top: 0;
    left: 0;
}

#serverIconMask {
    top: 238px;
    left: 75px;
}

#serverIconName {
    top: 246px;
    left: 119px;
}